.root {
  display: block;
  margin-bottom: var(--space-one);
  text-decoration: none;
}

.content {
  position: relative;

  transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
  user-select: none;
}

@media (hover: hover) {
  .content:hover {
    transform: scale(1.035);
    cursor: pointer;
  }
}

.annotation {
  position: absolute;
  top: var(--space-half); 
  right: var(--space-two);

  font-size: var(--font-size-m);
  text-align: right;

  color: var(--color-dark-temp);
  opacity: 0.6;
}

.description {
  font-size: var(--font-size-n);
}

.image {
  box-shadow: 0 0 7px -2px var(--color-theme-temp);
}
