.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-one);
  padding-top: calc(var(--space-four) + var(--space-one-and-half));
  min-height: 50vh;
}

@media screen and (min-width: 641px) {
  .app {
    width: calc(640px - 2 * var(--space-one));
    margin: 0 auto;
  }
}
