@import './theme.css';

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Barlow-SemiBold.woff") format("woff");
}

html {
  background: #101010;
  font-size: 3.2vw;
  min-height: 100%;
  height: 100%;
}

@media screen and (min-width: 641px) {
  html {
    font-size: 20px;
  }
}

/* make responsive fonts work with icons */
button[class] svg {
  width: calc(var(--space-one) * var(--line-height-n) - 4px);
  height: calc(var(--space-one) * var(--line-height-n) - 4px);
}

body {
  margin: 0;

  font-family: var(--font-family);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-light-temp);
  line-height: var(--line-height-n);
  font-size: var(--font-size-n);
  height: 100%;
}

body.no-scroll {
  overflow: hidden;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
